ParamedicMedicosPrestaciones/Service References/WSContratadosLiquidaciones/WebServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:s0="http://tempuri.org" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://tempuri.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org">
      <s:element name="GetGuardiasDetalle">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" name="pUsr" type="s:long" />
            <s:element minOccurs="0" name="pPer" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGuardiasDetalleResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="GetGuardiasDetalleResult" type="s0:DataSet" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DataSet">
        <s:sequence>
          <s:element ref="s:schema" />
          <s:any />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetGuardiasDetalleSoapIn">
    <wsdl:part name="parameters" element="s0:GetGuardiasDetalle" />
  </wsdl:message>
  <wsdl:message name="GetGuardiasDetalleSoapOut">
    <wsdl:part name="parameters" element="s0:GetGuardiasDetalleResponse" />
  </wsdl:message>
  <wsdl:portType name="ContratadosLiquidacionesSoap">
    <wsdl:operation name="GetGuardiasDetalle">
      <wsdl:input message="s0:GetGuardiasDetalleSoapIn" />
      <wsdl:output message="s0:GetGuardiasDetalleSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ContratadosLiquidacionesSoap" type="s0:ContratadosLiquidacionesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetGuardiasDetalle">
      <soap:operation soapAction="http://tempuri.org/WebServices.ContratadosLiquidaciones.GetGuardiasDetalle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ContratadosLiquidaciones">
    <wsdl:port name="ContratadosLiquidacionesSoap" binding="s0:ContratadosLiquidacionesSoap">
      <soap:address location="http://192.168.0.248:57773/csp/shaman/WebServices.ContratadosLiquidaciones.cls" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>